extends layout


block content
  -console.log(data)
  .container-fluid.overflow-hidden.mt-5
    .row.px-3
      .col-12.col-md-6
        #slider.owl-carousel.product-slider
          each item in data.images
            .item
              img(src=`${item.path}`)
        #thumb.owl-carousel.product-thumb
          each item in data.images
            .item
              img(src=`${item.path}`)

      .col-12.col-md-6
        .row.px-3
          .col-4
            a(href=`${data.link.tokped}`, target="_blank", rel="noopener noreferrer")
              .card.e-icon.shadow-sm
                .card-body.d-flex.justify-content-center.align-items-center
                  img(src="/images/icon/tokopedia.png")
          .col-4
            a(href=`${data.link.shopee}`, target="_blank", rel="noopener noreferrer")
              .card.e-icon.shadow-sm
                .card-body.d-flex.justify-content-center.align-items-center
                  img(src="/images/icon/shopee.png")
          .col-4
            a(href=`${data.link.tiktok}`, target="_blank", rel="noopener noreferrer")
              .card.e-icon.shadow-sm
                .card-body.d-flex.justify-content-center.align-items-center
                  img(src="/images/icon/tiktokshop.png")
          .col-4.gy-2
            a(href=`${data.link.wa}`, target="_blank", rel="noopener noreferrer")
              .card.e-icon.shadow-sm
                .card-body.d-flex.justify-content-center.align-items-center
                  img(src="/images/icon/wa.png")